<div class='grid-20' id='nav-logo'><a href='/'><img src='/images/logo.png' /></a></div>
<div class='grid-80' id='nav-links'>
	<a href='/why-is-this-free'>why is this free?</a>
	<a href='/how-does-this-work'>how does it work?</a>
</div>