<!DOCTYPE html>
<html>
	<head>	
	
	  <link rel='stylesheet' type='text/css' href='/stylesheets/dashboard.css' />
	
	</head>
	<body>

    <div class='tweet-panel'>
		  <div class='icon'>
		    <img src='/images/tweet-icon.png' />
		  </div>
      <div class='tweet'>
	      So exciting putting together school supplies that we will be giving away Saturday!
			  It's going to be a great day at <span class='hash'>#VictoryChurch</span>! <span class='link'>http://bit.ly/abcdef</span>
		    <span class='info'>Josh Wright | @BendyTree | Brought to you by Bolt Studios</span>
      </div>
    </div>

		<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
		<script src='/javascripts/dashboard-redraw.js'></script>
	
	</body>
</html>