<!DOCTYPE html>
<html>
	<head>	
	  
	  <style type='text/css'>
	    body {
	      background-color:#000;
	    }
	    .tweet {
	      color:#FFF;
	      font-family:sans-serif;
	      text-align:center;
	    }
	  </style>
	
	</head>
	<body>
	
	  <div class='tweet'>
	    "If you work with people, no matter what your title is, it’s your job to make the people around you feel better, empowered and encouraged".
	  </div>
	
	</body>
</html>