<% include partials/_header %>

<div class='wrapper top'>
  <div class='grid-container'>

  <% include partials/_logolinks %>

    <% if(page == 'index') { %> <% include partials/index/_mid %> <% } %>

  </div>
</div>

<div class='wrapper mid'>
  <div class='grid-container'>
    <div class='centered'>
      
      <% if(page == 'index') { %><div id='instructions'></div><% } %>

      <% if(page == 'setup') { %><h2 class='large'>Get started in 3 easy steps</h2><% } %>

      <% if(page == 'why-free') { %><h2 class='large'>Why is this free?</h2><% } %>
    </div>
  </div>
</div>

<div class='wrapper bottom'>
  <div class='grid-container'>
    
    <% if(page == 'index') { %> <% include partials/index/_bottom %> <% } %>
    <% if(page == 'setup') { %> <% include partials/setup/_search %> <% } %>
    <% if(page == 'why-free') {%> <% include partials/why-free/_free %> <% } %>

    <div class='grid-100'>
      <div class='footer'>
        <div class='grid-50'>
          &copy; 2013 <a href='http://boltstudios.com'>Bolt Studios</a> proudly <a href='http://madeinok.co'>MadeInOK</a>
        </div>

        <div class='grid-50'>
          <div class='right-text'>
            <a href='#'>Why Free?</a>
            <a href='#'>Demo</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>