<!doctype html>
<meta charset='utf8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<html ng-app='twitterspitter'>

  <head>
    <script type='text/javascript' src='/lib/angular.min.js'></script>
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js'></script>

    <script type='text/javascript' src='/javascripts/controllers/HomeController.js'></script>    
    <script type='text/javascript' src='/javascripts/app.js'></script>

    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>

  <body>

    <div ng-view class="page-wrapper">
    	<!-- partials here -->
    </div>

  </body>
</html>