<!doctype html>
<meta charset='utf8'>

<%- cake.js(
  './public/lib/angular.min.js',
  './public/javascripts/controllers/HomeController.js',
  './public/javascripts/controllers/SearchController.js',
  './public/javascripts/controllers/ResultsController.js',
  './public/javascripts/app.js'
) %>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
<link rel='stylesheet' href='/stylesheets/unsemantic-grid-responsive.css' />

<div class='wrapper top'>
  <div class='grid-container'>

    <div class='grid-20' id='nav-logo'><img src='/images/logo.png' /></div>
    <div class='grid-80' id='nav-links'><a href='#'>why is this free?</a> <a href='#'>how does it work?</a></div>

    <div class='grid-100 centered'>
      <h1>Simple Live Tweet Curation For Your Event</h1>
      <h2>Increase social sharing without spending a dime.</h2>
      <a href='/auth/twitter' class='button favwall'>
        <span class='action-image'><i class='icon-twitter'></i></span>
        <span class='action-text'>Connect With Twitter</span>
      </a>
    </div>
  </div>
</div>

<div class='wrapper mid'>
  <div class='grid-container'>
    <div class='centered'>
      <!-- <img id='instructions' src='/images/instructions.png' /> -->
      <div id='instructions'></div>
    </div>
  </div>
</div>

<div class='wrapper bottom'>
  <div class='grid-container'>
    
    <div class='grid-50'>
      <h3><strong>Give your attendees a reason to share</strong></h3>
        <p>Imagine your brand reaching thousands of people who have never even seen your logo, much less met anyone from your team in person.</p>
        <p>Leverage your attendees' social influence to give your brand instant credibility.</p>

        <div class='centered'>
          <a href='#' class='button favwall'>See How It Works</a>
        </div>
    </div>

    <div class='grid-50'>
      <div class='centered'>
        <p><img src='/images/Monitor.jpg' /></p>
      </div>
    </div>

    <div class='grid-100'>
      <div class='footer'>
        <div class='grid-50'>
          &copy; 2013 <a href='http://boltstudios.com'>Bolt Studios</a> proudly <a href='http://madeinok.co'>MadeInOK</a>
        </div>

        <div class='grid-50'>
          <div class='right-text'>
            <a href='#'>Why Free?</a>
            <a href='#'>Demo</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>