<!doctype html>
<meta charset='utf8'>

<%- cake.js(
  './public/lib/angular.min.js',
  './public/javascripts/controllers/HomeController.js',
  './public/javascripts/controllers/SearchController.js',
  './public/javascripts/controllers/ResultsController.js',
  './public/javascripts/app.js'
) %>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<link rel='stylesheet' href='/stylesheets/unsemantic-grid-responsive.css' />

<body ng-app='twitterspitter'>
  <div style="background-color: #3684c6;">
    <img style="padding-top: 20px; padding-left: 20px;" src="images/favoritewall.png"/>
    <div style="position: absolute; right: 0; top: 30px;">
      <a class="navbarlink" href="">why is this free?</a>
      <a class="navbarlink" href="">about us</a>
      <a class="navbarlink" href="">see how it works</a>
         </div>
  </div>


  <div ng-view class="page-wrapper">
  </div>


  <div style="padding: 0 15px;">
    <hr>
    <p>&copy; 2013 Bolt Studios proudly MadeInOK</p>
    <div style="position: absolute; right: 0; padding-right: 15px">
      <a class="footerlink" href="">See How It Works</a>
      <a class="footerlink" href="">Why Free?</a>
      <a class="footerlink" href="">Demo</a>
      <a class="footerlink" href="">About Bolt</a>
    </div>
  </div>
</body>