<!DOCTYPE html>
<html>
	<head>	
	
	  <link rel='stylesheet' type='text/css' href='/stylesheets/dashboard.css' />
	
	</head>
	<body>

    <div class='tweet-panel-wrapper'>
    <div class='tweet-panel'>
	    <div class='cycle-visibility'><div class='font-loaded-visibility'><div class='resize-visibility'>
			  <div class='icon'>
			    <img src='/images/tweet-icon.png' />
			  </div>
	      <div class='tweet'></div>
      </div></div></div>
    </div>
    </div>

    <script>
        window.tweets = <%- JSON.stringify(tweets) %>;
				window.credentials = <%- JSON.stringify(credentials) %>;
				window.isContinuous = <%- isContinuous ? 'true' : 'false' %>;
    </script>
		
		<script src='/javascripts/jquery.min.js' type='text/javascript'></script>
		<script src='/javascripts/jquery.cookie.js' type='text/javascript'></script>
		<script src='/javascripts/primus.js' type='text/javascript'></script>
		<script src='/javascripts/dashboard-redraw.js' type='text/javascript'></script>
		<script src='/javascripts/dashboard-cycle.js' type='text/javascript'></script>
		<script src='/javascripts/dashboard-font.js' type='text/javascript'></script>
		<script src='/javascripts/dashboard-resize.js' type='text/javascript'></script>
		<script src='/javascripts/dashboard-socket.js' type='text/javascript'></script>
	
	</body>
</html>