<!DOCTYPE html>
<html>
	<head>	
	
	  <link rel='stylesheet' type='text/css' href='/stylesheets/dashboard.css' />
	
	</head>
	<body>

    <div class='tweet-panel'>
	    <div class='cycle-visibility'><div class='font-loaded-visibility'><div class='resize-visibility'>
			  <div class='icon'>
			    <img src='/images/tweet-icon.png' />
			  </div>
	      <div class='tweet'></div>
      </div></div></div>
    </div>

    <script>
        window.tweets = [];
    </script>

		<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
		<script src='/javascripts/dashboard-redraw.js'></script>
		<script src='/javascripts/dashboard-cycle.js'></script>
		<script src='/javascripts/dashboard-font.js'></script>
		<script src='/javascripts/dashboard-resize.js'></script>
		<script src='/javascripts/dashboard-loadTweets.js'></script>
	
	</body>
</html>