<div class='grid-100 centered'>

	<form id='step-sequence' action='/result'>

		<div class='grid-100 grid-parent'>
			<div class='step grid-30'>
				<h2>1</h2>
				<p>Enter a username</p>
			</div>
			<div class='form-element grid-70'>
				<input type='text' autocorrect='off' name='username' placeholder='Username' value=<%=username%> />
			</div>
		</div>

		<div class='grid-100 grid-parent'>
			<div class='step grid-30'>
				<h2>2</h2>
				<p>Choose your layout</p>
			</div>
			<div class='form-element grid-70 grid-parent'>
				<div class='grid-33 display-swapper fullscreen'>
					<a class='button favwall option' data-value='fullscreen'><i class='icon-check-empty'></i> Fullscreen</a>
					<img data-value='fullscreen' src='/images/FullScreen.jpg' class='display-image' />
				</div>
				<div class='grid-33 display-swapper overlay'>
					<a class='button favwall option' data-value='overlay'><i class='icon-check'></i> Overlay Continuous</a>
					<img data-value='overlay' src='/images/Overlay.jpg' class='display-image' />
				</div>
				<div class='grid-33 display-swapper continuous'>
					<a class='button favwall option' data-value='continuous'><i class='icon-check-empty'></i> Overlay New Only</a>
					<img data-value='continuous' src='/images/Overlay.jpg' class='display-image' />
				</div>

				<div style='display:none;' id=''>
					<div>
						<input type='radio' name='layout' value='fullscreen' checked='false'>Full Screen</input>
						<input type='radio' name='layout' value='overlay' checked='true'>Overlay</input>
					</div>
					<div>
						<input type='checkbox' name='continuous' value='true' checked='true'>Overlay Continuous</input>
					</div>
					<br/>
				</div>
			</div>
		</div>

		<div class='grid-100 grid-parent'>
			<div class='step grid-30'>
				<h2>3</h2>
				<p>Check it out</p>
			</div>
			<div class='form-element grid-70'>
				<button type='submit' class='button favwall'>Go to Wall</button>
			</div>
		</div>
			
		</div>
	</form>
</div>



<script>
$(function() {
	function selectNewOnly(){
		var continuousElement = $("input[name=continuous]")
		var overlayRadio = $("input[name=layout][value=overlay]")
		overlayRadio.prop('checked', true);
		continuousElement.prop('checked', false);
	}

	function deselectNewOnly(){
		var continuousElement = $("input[name=continuous]")
		continuousElement.prop('checked', true);
	}

	function selectFullscreen(){
		var fullscreen = $('input[value=fullscreen]')
		fullscreen.prop('checked', true)
		$.each(fullscreen.siblings(), function(){
			$(this).prop('checked', false)
		})

	}

	function selectOverlay(){
		var overlay = $('input[value=overlay]')
		overlay.prop('checked', true)
		$.each(overlay.siblings(), function(){
			$(this).prop('checked', false)
		})
	}

	var selectChecks = function(value) {
		$(".icon-check").removeClass(".icon-check").addClass("icon-check-empty");

		var selected = $("a[data-value="+value+"]");
		var icon = selected.children("i");
		icon.addClass("icon-check").removeClass("icon-check-empty");
	}

	$(".continuous").click(function(){
		selectNewOnly();
		selectChecks("continuous");
	});

	$(".fullscreen").click(function(){
		deselectNewOnly();
		selectFullscreen();
		selectChecks("fullscreen");
	});

	$(".overlay").click(function(){
		deselectNewOnly();
		selectOverlay();
		selectChecks("overlay");
	});
})
</script>