<div class='grid-100'>
<h3><strong>We Believe In Giving Back</strong></h3>

<p>Innovation is one of our standards here at Bolt Studios. We’ve never viewed daydreaming as the opposite of work, but a requirement to be great at work. In that vein, we allocate every Friday to just being creative. We call these ideas, Friday Projects.</p>

<p>Friday Projects allow our teams to experiment with anything that’s interesting. All we ask is the project has the potential to move our company forward, gives back to the tech community, or makes our world a better place to live.</p>

<p>FavoriteWall allowed us to get a lot more familiar with Twitter technology, and we were able to experiment with Node and Angular (new tech to us). Through that, we’ve made it easy for conferences and events of all types to integrate social sharing. </p>

<p>We want every event in the world to be better, and we felt the best way to accomplish that was to give this technology away for free.</p>

<h3><strong>Now You Know Us</strong></h3>

<p>We’re not being totally selfless though. You may have never heard of Bolt Studios before today. We make some really cool software. We typically create HTML5, iOS, and Android apps for the consumer market, but we do create custom applications for businesses and individuals if the project makes sense.</p>

<p>If you like this app and want to see what else we’ve made, check out <a href='http://boltstudios.com'>www.boltstudios.com</a>. If you’re looking for a team of incredibly talented designers and developers to tackle your next custom project, contact us.</p>
</div>