<h1>{{ title }}</h1>

<div>
	You can see the 20 most recent tweets of anyone if you just enter there username below.
</div>

<div>
	<label>username:</label>
	<input class="span12" type="text" ng-model="username" placeholder="@soandso">
</div>

<div>
	{{ resultsUrl() }}
</div>

<button class="btn btn-large btn-primary" ng-click=redirect()>search</button>
