
<style>
	.page-body{
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		text-align: center;
	}
	.page-header{
		height: 60px;
		width: 100%;
		color: white;
		background-color: #38261c;
		text-align: center;
	}
	.header-title{
		padding-top: 5px;
		-webkit-margin-before: 0px;
		-webkit-margin-after: 0px;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
	}
	.input-wrapper{
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}
	.input-label{
		padding: 4px 10px 4px 10px;
		background-color: #0cb08a;
		color: white;
	}
	.input{
		height: 25px;
		width: 80%;
		max-width: 500px;
	}
	.input-submit{
		padding: 10px 30px;
		color: white;
		background-color: #F66B00;
		border: 0;
		border-radius: 5px;
	}
</style>

<div class="page-header">
	<h1 class="header-title">{{ title }}</h1>
</div>
<form class="page-body">
	<p>
		If you want to see someone else's most recent favorites, enter their name below.
	</p>
	<p>
		Leave it blank and we'll show you your own favorites.
	</p>
	<div class=input-wrapper>
		<label class=input-label>twitter handle</label>
		<input class=input type="text" ng-model="username" placeholder=""></input>
	</div>
	<br/>
	<div class=input-wrapper>
		<label class=input-label>layout</label>
      	<input type="radio" ng-model="layout" value="fullscreen"> fullscreen 
      	<input type="radio" ng-model="layout" value="overlay">  overlay
	</div>
	<br/>
	<button type=submit class="input-submit" onclick="location.href='{{resultsUrl()}}'">search</button>
</form>