
	<div class="wrapper">
	<div class="topdiv">
		<div class="col-6 col-lg-6">
			<p style="font-size: 36px; text-align: center;">Simple Live Tweet Curation For Your Event</p>
  			<div style="font-size: 30px; text-align: center;">Increase social sharing without spending a dime.
	  			<a href="/auth/twitter">
	  				<button class="twitterbutton" style="cursor:pointer">
	  					<img src="images/ConnectWithTwitter.png"/>
	  				</button>
	  			</a>
  			</div>
		</div>
	</div>
	<div class="middiv">
		<img style="display: block; margin-right: auto; margin-left: auto" src="images/instructions.png"/>
	</div>
	<div class="bottomdiv">
			<div class="bottomtext">
				<p class="">Give your attendees a reason to share.</p>
				<p>Imagine your brand reaching thousands of people who have never even seen your logo, much less met anyone from your team in person.</p>
				<p>Leverage your attendees' social influence to give your brand instant credibility.</p>
			
			<a href="">
				<img style="display: block; margin-right: auto; margin-left: auto"  src="images/SeeHowItWorks.png"	/>				
			</a>
			</div>
			<div class="col-lg-6"><img src="images/Monitor.jpg"/></div>
		
	</div>
</div>


