<div class='grid-50'>
      <h3><strong>Give your attendees a reason to share</strong></h3>
        <p>Imagine your brand reaching thousands of people who have never even seen your logo, much less met anyone from your team in person.</p>
        <p>Leverage your attendees' social influence to give your brand instant credibility.</p>

        <div class='centered'>
          <a href='#' class='button favwall'>See How It Works</a>
        </div>
    </div>

    <div class='grid-50'>
      <div class='centered'>
        <p><img src='/images/Monitor.jpg' /></p>
      </div>
    </div>