<div class='grid-100 centered'>
	<h1>Simple Live Tweet Curation For Your Event</h1>
    <h2>Increase social sharing without spending a dime.</h2>
    <a href='/auth/twitter' class='button favwall'>
    	<span class='action-image'><i class='icon-twitter'></i></span>
        <span class='action-text'>Connect With Twitter</span>
    </a>

    <div class='grid-100' id='nav-links-mid'>
		<a href='/why-is-this-free'>why is this free?</a>
		<a href='/how-does-this-work'>how does it work?</a>
	</div>
</div>